@import "tailwindcss";

:root {
  --background: #EDEEDB;
  --foreground: #171717;
  --font-display:"Coiny", "sans-serif"
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	padding: 5% 20%;
}

h1, h2, button {
	font-family: var(--font-display);
}

h1 {
	color:beige;
}

h2 {
	color: #B05768;
}

button {
	color: #B05768;
	filter: drop-shadow(#763c48 4px 4px 4px);
}
button:hover {
	translate: 5px 5px;
}

h3 {
	font-family: var(--font-display);
	color: #B36E7B;
}

.embla {
	overflow: hidden;
  }
  .embla__container {
	display: flex;
  }
  .embla__slide {
	flex: 0 0 100%;
	min-width: 0;
  }


.bento-pink {
	background-color: #CB9698;
	color: #FEFAE0;
	padding: 2%;
	margin: 2%;
	border-radius: 8px ;
	filter: drop-shadow(#763c48 4px 4px 4px);
}

.bento-green {
	background-color: #B6C9A1;
	color: #763c48;
	padding: 2%;
	border-radius: 8px ;
	filter: drop-shadow(#6f805c 4px 4px 4px);
}

.bento-beige {
	background-color: beige;
	color: #763c48;
	padding: 2%;
	margin: 2%;
	border-radius: 8px ;
	filter: drop-shadow(#6f805c 4px 4px 4px);
}
.gradient-bg {
	background: rgb(255,255,237);
background: linear-gradient(180deg, rgba(255,255,237,0) 0%, rgba(254,250,224,0.90) 100%);
}

.icon-skills {
	width: 60px;
}
/*MENU*/

@keyframes menuSlide {
	0% {
		transform: translateY(-1200px);
	}

	100% {
		transform: translateY(0px);
	}
}

#header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  position: fixed;
  width:100vw;
  z-index: 2;
}

.navbar-links{
  display: none;
  justify-content: center;
  position: fixed;
  background-color: #B36E7B;
  color: beige;
  width: 100%;
  height: 100%;
  animation: menuSlide 2s ease 0s 1 normal;
  z-index: 1;
}

.show-nav.navbar-links{
  display: flex;
}

.hide.navbar-links{
  animation: menuSlide 2s ease 0s 1 reverse;
}


/*WELCOME*/

#welcome {
    height: 750px;
	filter: drop-shadow(#cbbaad 4px 4px 4px);
}

.flip-doodle {
	background-color: transparent;
	width: 200px;
	height: 200px;
	perspective: 1000px;
	filter: drop-shadow(#1a2c1f 4px 4px 4px); /* Remove this if you don't want the 3D effect */
  }

.flip-doodle-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }

.flip-doodle:hover .flip-doodle-inner {
	transform: rotateY(180deg);
  }

.front-doodle, .back-doodle {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.back-doodle {
	color: rgb(68, 49, 49);
	transform: rotateY(180deg);
  }

#doodle2 {
    top: 20%;
    right: 20%;
	filter: drop-shadow(#1a2c1f 4px 4px 4px);
}

#doodle3 {
    top: 10%;
    left: 20%;
	filter: drop-shadow(#1a2c1f 4px 4px 4px);
}


/*PRESENTATION*/

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float2 {
	0% {
		transform: translatey(-20px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(-20px);
	}
}

#bg-anim>img{
	width: 100%;
}

#bg-anim>div>p{
	color: beige;
}

#bird1 {
	animation: float2 6s ease-in-out infinite;
	filter: drop-shadow(#9e5967 4px 4px 4px);
}
#bird2 {
	animation: float1 9s ease-in-out infinite;
	filter: drop-shadow(#9e5967 4px 4px 4px);
}

#presentation-anim {
	animation: float1 6s ease-in-out infinite;
	filter: drop-shadow(#562f37 4px 4px 4px);
}


#tete{
  animation: tete 5s ease 5s infinite normal forwards;
}

#bras {
  animation: bras 2.5s ease 0s infinite normal forwards;
}
#ordi {
  animation: ordi 3s ease 0s infinite normal forwards;
}

@keyframes tete {
	0%,
  50%,
  100%{
		transform: rotate(0deg);
		transform-origin: bottom;
	}

	20% {
		transform: rotate(0.5deg);
	}
}

@keyframes bras {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: top;
	}

	10% {
		transform: rotate(1deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-1deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(1deg);
	}

	80% {
		transform: rotate(-1deg);
	}

	90% {
		transform: rotate(1deg);
	}
}

@keyframes ordi {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}
#travaux {
	background-color:#B6C9A1 ;
}

/* ABOUT */

#portrait {
	padding: 0 10% 10% 10%;
	filter: drop-shadow(#6f805c 4px 4px 4px);
}

#cloud0 {
	animation: float1 9s ease-in-out infinite;
	filter: drop-shadow(#774650 4px 4px 4px);
}

#cloud1 {
	animation: float2 6s ease-in-out infinite;
	filter: drop-shadow(#774650 4px 4px 4px);
}

#cloud2 {
	animation: float1 6s ease-in-out infinite;
	filter: drop-shadow(#562f37 4px 4px 4px);
}

#cloud3 {
	filter: drop-shadow(#774650 4px 4px 4px);
}